<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Me</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>📬 Contact Me</h1>
        <p>Email: tulsidounekar07@gmail.com</p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/tulsi-dounekar-71944b257/" target="_blank">linkedin.com/in/tulsi</a></p>
        <p>Github: <a href="https://github.com/tulsidounekarr" target="_blank">Github.com/in/tulsi</a></p>

        <p><a href="{{ url_for('index') }}">Back to Home</a></p>
    </div>
</body>
</html>
